body {
    margin: 0 auto;
    font-family: sans-serif;
	background-color: rgb(50, 50, 50);
}

header {
    background-color: rgb(36, 36, 36);
    position: fixed;
    width: 100%;
    z-index: 10;
    box-sizing: border-box;
    top: 0;
}

.navigation {
    margin: 10px auto;
    padding: 0 20px;
    text-align: center;
}

.navigation li {
    display: inline-block;
    width: 100px;
    margin: 5px;
}

.navigation a {
    color: black;
}

a li {
    background-color: rgb(133, 133, 133);
    padding: 5px 20px;
    margin: 0 20px;
    border-radius: 10px;
}

/* box & title */

#box {
	position: relative;
	top: 48px;
  width: 50%;
  margin: 84px  auto;
  text-align: center;
  height: 680px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 48px;
  padding: 20px 20px
 
}

h1 {
	font-size: 36px;
}

/* form */

input {
	font-size: 20px;
	padding: 0 20px;
	margin: 10px 0;
	box-sizing: border-box;
}

select {
	font-size: 20px;
	margin-bottom: 72px;
}

input[type=submit] {
 
  border: none;
  padding: 12px 36px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

#event {
	margin-top: 12px;
}

label {
	font-size: 24px;
}

/* footer */

footer {
    width: 100%;
    background-color: rgb(36, 36, 36);
    height: 120px;
}

.mapouter {
    text-align:right;
    height:100px;
    width:300px;
    float: right;
    margin-right: 5%;
    margin-top: 10px;
    margin-bottom: 0;
}

.gmap_canvas {
    overflow: hidden;
    background:none!important;
    height:100px;
    width:300px;
    margin-bottom: 0;
}

.footer1 {
    float: left;
    color: whitesmoke;
    font-size: 15px;
    height: 120px;
    width: 70%;
}

.navigation2 {
    margin: 0 auto;
    padding: 0 20px;
    text-align: left;
}

.navigation2 li {
    display: inline-block;
    width: 80px;
    margin-left: 40px;
}

h4 strong {
    margin: 0 auto;
}

.aboutus {
    margin-left: 10px;
    margin-top: 10px;
}